<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav>
            <a href="/admin">Articles</a>
            <a href="/admin/users">Users</a>
            <form action="/admin/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </nav>
    </header>
    <main>
        <div>
            <h1>New Article</h1>
            <form action="/admin/articles/new" method="post">
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="content">Content:</label>
                    <textarea id="content" name="content"></textarea>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publication date</th>
                    <th>Update date</th>
                </tr>
            </thead>
            <tbody>
                {{range .Articles}}
                <tr>
                    <td>{{.ID}}</td>
                    <td><a href="/articles/{{.ID}}">{{.Title}}</a></td>
                    <td>{{.AuthorEmail}}</td>
                    <td>{{.PublishedAt}}</td>
                    <td>{{.UpdatedAt}}</td>
                    <td>
                        <a href="/admin/articles/{{.ID}}/delete">delete</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>