{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/simplemde.min.css">
    {{block "scripts_head" .}}{{end}}
</head>

<body>
    {{template "header" .}}
    <main class="container mt-4">
        {{template "main" .}}
    </main>

    {{block "scripts_body" .}}{{end}}
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>
{{end}}