{{define "title"}}{{.Title}}{{end}}

{{define "scripts_head"}}
<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
<script src="/assets/js/purify.min.js"></script>
{{end}}

{{define "main"}}
<div>
    <h3>{{.AuthorName}}</h3>
    <span>{{.PublishedAt}}</span>
</div>
<h1>{{.Title}}</h1>
<div id="content">{{.Content}}</div>
{{end}}

{{define "scripts_body"}}
<script>
    document.getElementById("content").innerHTML = DOMPurify.sanitize(marked.parse("{{.Content}}"));
</script>
{{end}}